<!DOCTYPE html>
<html>
<head>
    <title>Employee System</title>
</head>
<body>
    <header>
        <!-- Navbar or header content -->
    </header>
    <main>
        <!--<%- body %>  <!-- This renders the content from other views -->
        <body><h1>Demo is working or not </h1></body>
    </main>
</body>
</html>
