<!DOCTYPE html>
<html>
<head>
    <title>Employee System</title>
</head>
<body>
    <header>
        <!-- Navbar or header content -->
    </header>
    <main>
    </main>
    <h1>Employee Information</h1>
    <!-- Assuming you're rendering one employee -->
    <h2>Please enter the data of employees</h2>
    <form action="/add" method="POST">
        <label for="name">First name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="salary">Salary:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <input type="submit" value="Submit">
      </form>    
</body>
</html>
